@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-SemiBold.ttf') format('embedded-opentype'), /* Internet Explorer */
    url('fonts/Poppins-SemiBold.woff') format('woff'), /* Pretty Modern Browsers */
    url('fonts/Poppins-SemiBold.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'Maiandra';
    src: url('fonts/Maiandra-GD-Regular.ttf') format('embedded-opentype'), /* Internet Explorer */
    url('fonts/Maiandra-GD-Regular.woff') format('woff'), /* Pretty Modern Browsers */
    url('fonts/Maiandra-GD-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
}

/* #16C79E

#C7163F */

body {
    background-color: #E5F5F2;
}

.image-container {
    text-align: center;
}

.image-container img {
    width: max(40%, 250px);
    height: 40%;
    max-width: 500px;
}

nav {
    background-color: #327263;
}

nav ul a {
    font-size: 1.3rem;
    font-family: 'Poppins';
}

.nav-wrapper {
    text-align: center;
}

nav .brand-logo.center{
    position: static;
    transform: translateX(0);
}

.fixed-nav nav {
    position: fixed;
    top:0;
    z-index: 1;
  }

.sidenav {
    background-color: #E5F5F2;
}

.sidenav li > a {
    margin-top: 7px;
    font-family: 'Poppins';
    font-size: 1.5rem;
    color: #327263;
}

.sidenav-logo {
    text-align: center;
}

.sidenav-logo img {
    margin-top: 15px;
    width: 70%;
}

/* LandingPage */

.landingContent .container {
    background-color: #E5F5F2;
    min-height: 30vh;
    max-width: 1000px;
    margin-bottom: 10vh;
    margin-top: 10vh;
    border-top: 1px solid #327263;
}

.landingContent .greeting {
    text-align: center;
    padding: 10vh 5vh 10vh 5vh;
    width: 100%;
    margin-top: 0px;
    background-color: #E5F5F2;
}

.greeting span {
    font-size: 2rem;
    font-family: 'Poppins';
    color: #424242;
}

.greeting p {
    font-size: 1.3rem;
    font-family: 'Maiandra';
    font-weight: 600;
    color: #636363;
    margin-top: 25px;
}

/* .landingContent .supplement {
    height: 45vh;
    background-image: url('img/jog.png');
    background-size: 35vh;
    background-repeat: no-repeat;
    background-position: 0% 50%;
} */

.landingContent .supplement .row img {
    width: 80%;
}

.landingContent .supplement .row {
    text-align: center;
}

.landingContent .supplement .row p {
    margin-top: 50%;
    font-size: 1.5rem;
    font-family: 'Poppins';
    color: #3D7D6E;
}

@media screen and (max-width: 400px) {
    .landingContent .supplement .row p {
        margin-top: 0;
    }
}

.landingContent .benefits .row {
    margin: 25px;
    font-family: 'Poppins';
}

.landingContent .benefits p {
    font-size: 1.5rem;
    color: #3D7D6E;
    margin-bottom: 25px;
}

.landingContent .benefits li {
    font-weight: 600;
    color: #5D9D8E;
    margin-top: 10px;
    list-style-type: disc;
}

.landingContent .benefits li ul {
    padding-left: 25px;
}

.landingContent .benefits li ul li {
    font-weight: 500;
    margin-top: 5px;
}

.landingContent .benefits img {
    margin-top: 100px;
    margin-bottom: 50px;
    width: 100%;
}

.landingContent .fda {
    text-align: center;
}

.landingContent .fda img {
    width: min(70%,900px);
    min-width: 300px;
    
}

.landingContent .fda .row {
    margin-top: 10vh;
}

.landingContent .fda .row img {
    width: 90%;
    min-width: 150px;
    border: 5px solid #3D7D6E;
}

.landingContent .fda .row p {
    margin-top: 10vh;
    margin-bottom: 7vh;
    font-family: 'Poppins';
    font-size: 1.5rem;
    color: #3D7D6E;
}

.landingContent .fda .row a {
    font-family: 'Maiandra';
    font-size: 1.3rem;
}

.landingContent .products.container {
    text-align: center;
    font-family: 'Maiandra';
    /* margin-bottom: 5vh; */
}

.landingContent .products p {
    padding-top: 2.5em;
    font-size: 1.5rem;
    margin-bottom: 25px;
    color: #327263;
}

/* Landing Page */

.page-footer {
    background-color: #BCECE1;
    color: #478778;
    padding-bottom: 100px;
    border-top: 1px solid #69DABF;
}

.page-footer a {
    color: #3b5998;
}

.fixed-action-btn a {
    background-color: #C7163F;
}

.fixed-action-btn a:hover {
    background-color: #D8274F;
}
/*
background-image: url('img/TheoLogo.png');
background-repeat: no-repeat;
background-position: right;
background-size: auto 100%; */