@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-SemiBold.ttf') format('embedded-opentype'), /* Internet Explorer */
    url('fonts/Poppins-SemiBold.woff') format('woff'), /* Pretty Modern Browsers */
    url('fonts/Poppins-SemiBold.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'Maiandra';
    src: url('fonts/Maiandra-GD-Regular.ttf') format('embedded-opentype'), /* Internet Explorer */
    url('fonts/Maiandra-GD-Regular.woff') format('woff'), /* Pretty Modern Browsers */
    url('fonts/Maiandra-GD-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
}

/* #16C79E

#C7163F */

body {
    background-color: #E5F5F2;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.image-container {
    text-align: center;
}

.image-container img {
    width: max(40%, 250px);
    max-width: 500px;
}

nav {
    background-color: #327263;
}

nav ul a {
    font-size: 1.3rem;
    font-family: 'Poppins';
}

.nav-wrapper {
    text-align: center;
}

nav .brand-logo.center{
    position: static;
    transform: translateX(0);
}

.fixed-nav nav {
    position: fixed;
    top:0;
    z-index: 1;
  }

.sidenav {
    background-color: #E5F5F2;
}

.sidenav li > a {
    margin-top: 7px;
    font-family: 'Poppins';
    font-size: 1.5rem;
    color: #327263;
}

.sidenav-logo {
    text-align: center;
}

.sidenav-logo img {
    margin-top: 15px;
    width: 70%;
}

/* LandingPage */

.landingContent .container {
    background-color: #E5F5F2;
    min-height: 30vh;
    max-width: 1000px;
    margin-bottom: 10vh;
    margin-top: 10vh;
    border-top: 1px solid #327263;
}

.landingContent .greeting {
    text-align: center;
    padding: 10vh 5vh 10vh 5vh;
    width: 100%;
    margin-top: 0px;
    background-color: #E5F5F2;
}

.greeting span {
    font-size: 2rem;
    font-family: 'Poppins';
    color: #327263;
}

.greeting p {
    font-size: 1.3rem;
    font-family: 'Maiandra';
    font-weight: 600;
    color: #5D9D8E;
    margin-top: 25px;
}

.landingContent .supplement .row img {
    width: 80%;
}

.landingContent .supplement .row {
    text-align: center;
}

.landingContent .supplement .row p {
    margin-top: 50%;
    font-size: 1.5rem;
    font-family: 'Poppins';
    color: #3D7D6E;
}

.landingContent .benefits .row {
    margin: 25px;
    font-family: 'Poppins';
}

.landingContent .benefits p {
    font-size: 2rem;
    color: #3D7D6E;
    margin-bottom: 25px;
    margin-top: 25px;
}

.landingContent .benefits li {
    font-size: 1.3rem;
    font-weight: 600;
    color: #5D9D8E;
    margin-top: 10px;
    list-style-type: disc;
}

.landingContent .benefits li ul {
    padding-left: 25px;
}

.landingContent .benefits li ul li {
    font-weight: 500;
    margin-top: 5px;
}

.landingContent .benefits img {
    margin-top: 100px;
    margin-bottom: 50px;
    width: 100%;
}

.landingContent .fda {
    text-align: center;
}

.landingContent .fda img {
    margin-top: 10vh;
    width: min(70%,900px);
    min-width: 300px;
    
}

.landingContent .fda .row {
    margin-top: 10vh;
}

.landingContent .fda .row img {
    margin-top: 0;
    width: 90%;
    min-width: 150px;
    border: 5px solid #3D7D6E;
}

.landingContent .fda .row p {
    margin-top: 10vh;
    margin-bottom: 7vh;
    font-family: 'Poppins';
    font-size: 1.5rem;
    color: #3D7D6E;
}

.landingContent .fda .row a {
    font-family: 'Maiandra';
    font-size: 1.3rem;
}

.landingContent .products.container {
    text-align: center;
    font-family: 'Maiandra';
    /* margin-bottom: 5vh; */
}

.landingContent .products p {
    padding-top: 2.5em;
    font-size: 1.5rem;
    margin-bottom: 25px;
    color: #327263;
}

.landingContent .tagLine {
    font-weight: 700;
}

@media screen and (max-width: 400px) {
    .landingContent .supplement .row p {
        margin-top: 0;
    }

    .landingContent .benefits img {
        margin-top: 50px;
    }
}

/* Landing Page */

/* Certifications */

.certificates .container {
    background-color: #E5F5F2;
    min-height: 30vh;
    max-width: 1000px;
    margin-bottom: 10vh;
    /* margin-top: 10vh; */
    /* border-top: 1px solid #327263; */
}

.certificates .container .row {
    border-top: 1px solid #327263;
}

.certificates .certHeader {
    text-align: center;
    margin-bottom: 5vh;
}

.certificates .certHeader h1 {
    font-family: 'Poppins';
    font-size: 3rem;
    color: #327263;
}

.certificates .container .row .col.s5 {
    margin-top: 10%;
    text-align: center;
    height: 100%;
}

.certificates .container .row img {
    width: 70%;
    max-width: 630px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 5px 5px 5px grey;
}

.certificates .container .row img:hover {
    opacity: 0.9;
    box-shadow: 10px 10px 10px grey;
}

.certificates .container .row .col.s7 {
    margin-top: 20%;
    text-align: center;
    font-size: 5vmin;
    height: 100%;
}

.certificates .container .row {
    color: #36665B;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    max-height: 100vh;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform: scale(1)}
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover, .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}

/* Certifications */

/* Page Footer */

.page-footer {
    background-color: #BCECE1;
    color: #478778;
    padding-bottom: 10px;
    border-top: 1px solid #69DABF;
}

.page-footer li {
    font-size: 20px;
    margin-bottom: 5px;
    margin-left: 10px;
}

.page-footer a {
    font-size: 20px;
    color: #3b5998;
}

.page-footer i {
    font-size: 20px;
    color: #3b5998;
}

.fixed-action-btn a {
    background-color: #C7163F;
    box-shadow: 5px 5px 5px grey;
}

.fixed-action-btn a:hover {
    background-color: #D8274F;
    box-shadow: 3px 3px 3px grey;
}

/* Page Footer */

/*
background-image: url('img/TheoLogo.png');
background-repeat: no-repeat;
background-position: right;
background-size: auto 100%; */